body {

    height: 100%;

}

.banner {
    width: 100%;
    height: 90px;
    color: white;
    background-color: #1a1938;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner .register {
    margin-left: 10px;
}

.container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 70%;
}

.banner-img {
    display: inline-block;
    margin-top: 40px;
    margin-right: 5px;
    width: 40%;
    height: 80%;
    background-color: #1a1938;
    flex-shrink: 0;
  
}

.banner-img img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.banner-img a{
    text-decoration: none;
    color: rgb(184, 180, 180);
}

.container .info{
    padding-left: 15px;
    margin-top: 40px;
    display: inline-block;
}

section h1{
    color: #1a1938;
}